  <div class="card h-100 shadow-sm border-0" >
                        
                        <!-- Product Image -->
                        <img src="{{product.image}}" 
                            class="card-img-top img-fluid rounded-top" 
                            alt="{{product.name}}" 
                            style="height: 220px; object-fit: contain; background: #f8f9fa;" appChangeBorder>
                        
                        <!-- Card Body -->
                        <div class="card-body d-flex flex-column justify-content-between">
                        
                        <!-- Product Name -->
                        <h6 class="card-title text-truncate fw-bold mb-2" style="max-width: 100%;">
                            {{product.title}}
                        </h6>
                        
                        <!-- Product Details -->
                        <div class="mb-3 ">
                            <p class="mb-1 text-dark">
                            <strong>Price:</strong> {{product.price | currency }}
                            </p>
                            
                            @switch (product.quantity) {
                           
                            @case (0) {
                                <p class="mb-1 text-danger fw-semibold">
                                <strong>Quantity:</strong> Out of Stock
                                </p>
                            }
                            @case (1) {
                                <p class="mb-1 text-warning fw-semibold">
                                <strong>Quantity:</strong> Last 1 item
                                </p>
                            }
                            @case (2) {
                                <p class="mb-1 text-warning fw-semibold">
                                <strong>Quantity:</strong> Last 2 items
                                </p>
                            }
                            @default {
                                <p class="mb-1 text-success fw-semibold">
                                <strong>Quantity:</strong> {{product.quantity}} In Stock
                                </p>
                            }
                            }
                        </div>
                        
                        </div>
                        
                        <!-- Card Footer with Buttons -->
                        <div class="card-footer bg-white border-0 d-flex justify-content-between">
                        <button class="btn btn-sm btn-primary w-50 me-2"
                         (click)="onAddToCart()"
                         [disabled] = "product.quantity == 0"
                        >
                            <i class="bi bi-cart-check me-1" ></i> Add to Cart
                        </button>
                        
                        <button class="btn btn-sm btn-outline-secondary w-50"
                         (click)="productDetail(product)"
                        >
                            <i class="bi bi-info-circle me-1"></i> Details
                        </button>
                        </div>
                        
</div>